MICROCMS_API_KEY=xxxxxxxxxx
MICROCMS_SERVICE_DOMAIN=xxxxxxxxxx
NEXT_PUBLIC_BASE_URL=xxxxxxxxxx
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your-email@example.com
SMTP_PASS=your-password
SMTP_FROM=noreply@pldl.or.jp
CONTACT_TO=pldl@ldl.cocotte.jp,info@pldl.or.jp,mail@yamashitamana.to
